<div>
    <%=link_to "Create New Person",new_person_path%>
</div>

<div>
<%@person.each do |person|%>
   <div>
   <%=person.id %>:<%=person.name%>
   <%# <%=person.addresses%> %>
   <%# <%if person.addresses%> %>
      <%# <%person.addresses.each do |ad|%> %>
         <%# <%=ad%> %>
       <%# <%end%> %>
    <%# <%else%> %>
     <%# Address is not mention  %>
    <%# <%end%> %>
   </div>
<%end%>
</div>
<%= #form_with url: "/people", method: :get do |form| %>